<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Compilation des projets Topkapi x64 :&#xd;
* Webserv2&#xd;
* Licence Activation Server&#xd;
* Licence Repository&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>20</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>5</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.5.7">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://moselle.areal.fr/svn/Topkapi/stable/Rocket60</remote>
        <credentialsId>efd3cd5b-cb67-4673-92de-4168942eaa16</credentialsId>
        <local>Rocket60</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>true</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateWithCleanUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec># toutes les 4 heures
H H/4 * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>net session&#xd;
echo SESSION ADMIN ? %ERRORLEVEL%&#xd;
&quot;Rocket60\PERLSCRIPT\.nuget\Nuget.exe&quot; restore &quot;Rocket60\PERLSCRIPT\global_build.sln&quot;&#xd;
</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.25">
      <msBuildName>4.0</msBuildName>
      <msBuildFile>PERLSCRIPT/global_build.sln</msBuildFile>
      <cmdLineArgs>/t:Build /nodeReuse:false /m /nologo /p:Configuration=&quot;Release&quot; /p:Platform=&quot;x64&quot; /p:VisualStudioVersion=12.0 /p:SkipNonexistentProjects=Build /p:ToolsVersion=4.0 /verbosity:n /p:msbuildextensionspath=&quot;C:\Program Files (x86)\msbuild&quot;</cmdLineArgs>
      <buildVariablesAsProperties>false</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.tasks.BatchFile>
      <command>REM Lancer les tests en mode ELEVATED&#xd;
REM RUNAS /user:administrator /savecred &quot;\&quot;%WORKSPACE%\Rocket60\PERLSCRIPT\fastbuild.exe\&quot; \&quot;%WORKSPACE%/Rocket60/PERLSCRIPT/RELEASE/\&quot; -AUTOTEST -AUTOCLOSE ELEVATED=&apos;1&apos;&quot;&#xd;
@NET SESSION&#xd;
@ECHO (SI 0 : Mode ADMIN OK : %ERRORLEVEL%  )&#xd;
&quot;Rocket60\PERLSCRIPT\fastbuild.exe&quot; &quot;./Rocket60/PERLSCRIPT/RELEASE/&quot; -AUTOTEST -AUTOCLOSE ELEVATED=&apos;1&apos;&#xd;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>&quot;Rocket60\PERLSCRIPT\fastbuild.exe&quot; &quot;./Rocket60/PERLSCRIPT/RELEASE/&quot; -AUTOTEST -AUTOREPORT -AUTOCLOSE ELEVATED=&apos;0&apos;</command>
    </hudson.tasks.BatchFile>
    <jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.14">
      <delegate>
        <consolePrefix>SSH: </consolePrefix>
        <delegate>
          <publishers>
            <jenkins.plugins.publish__over__ssh.BapSshPublisher>
              <configName>Arealtheding</configName>
              <verbose>false</verbose>
              <transfers>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory></remoteDirectory>
                  <sourceFiles></sourceFiles>
                  <excludes></excludes>
                  <removePrefix></removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand>rm -f -- /data/www/ftpprive/Setup/6.0/FR/WebServ*.msi /data/www/ftpprive/Setup/6.0/FR/Areal.ActivationServer*.msi /data/www/ftpprive/Setup/6.0/FR/Areal.Repository*.msi</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>Setup/6.0/FR</remoteDirectory>
                  <sourceFiles>Rocket60/WebServ2.0/WebServ2Installer/bin/Release/**/*.fr-fr.msi</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>Rocket60/WebServ2.0/WebServ2Installer/bin/Release</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand></execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>Setup/6.0/FR</remoteDirectory>
                  <sourceFiles>Rocket60/Security/Areal.License/Areal.ActivationServerInstaller/bin/Release/**/*.fr-fr.msi</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>Rocket60/Security/Areal.License/Areal.ActivationServerInstaller/bin/Release</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand></execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>Setup/6.0/FR</remoteDirectory>
                  <sourceFiles>Rocket60/Security/Areal.License/Areal.RepositoryInstaller/bin/Release/**/*.fr-fr.msi</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>Rocket60/Security/Areal.License/Areal.RepositoryInstaller/bin/Release</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand></execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory></remoteDirectory>
                  <sourceFiles></sourceFiles>
                  <excludes></excludes>
                  <removePrefix></removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand>rm -f -- /data/www/ftpprive/Setup/6.0/EN/WebServ*.msi /data/www/ftpprive/Setup/6.0/EN/Areal.ActivationServer*.msi /data/www/ftpprive/Setup/6.0/EN/Areal.Repository*.msi</execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>Setup/6.0/EN</remoteDirectory>
                  <sourceFiles>Rocket60/WebServ2.0/WebServ2Installer/bin/Release/**/*.en-us.msi</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>Rocket60/WebServ2.0/WebServ2Installer/bin/Release</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand></execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>Setup/6.0/EN</remoteDirectory>
                  <sourceFiles>Rocket60/Security/Areal.License/Areal.ActivationServerInstaller/bin/Release/**/*.en-us.msi</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>Rocket60/Security/Areal.License/Areal.ActivationServerInstaller/bin/Release</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand></execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
                <jenkins.plugins.publish__over__ssh.BapSshTransfer>
                  <remoteDirectory>Setup/6.0/EN</remoteDirectory>
                  <sourceFiles>Rocket60/Security/Areal.License/Areal.RepositoryInstaller/bin/Release/**/*.en-us.msi</sourceFiles>
                  <excludes></excludes>
                  <removePrefix>Rocket60/Security/Areal.License/Areal.RepositoryInstaller/bin/Release</removePrefix>
                  <remoteDirectorySDF>false</remoteDirectorySDF>
                  <flatten>false</flatten>
                  <cleanRemote>false</cleanRemote>
                  <noDefaultExcludes>false</noDefaultExcludes>
                  <makeEmptyDirs>false</makeEmptyDirs>
                  <patternSeparator>[, ]+</patternSeparator>
                  <execCommand></execCommand>
                  <execTimeout>120000</execTimeout>
                  <usePty>false</usePty>
                </jenkins.plugins.publish__over__ssh.BapSshTransfer>
              </transfers>
              <useWorkspaceInPromotion>false</useWorkspaceInPromotion>
              <usePromotionTimestamp>false</usePromotionTimestamp>
            </jenkins.plugins.publish__over__ssh.BapSshPublisher>
          </publishers>
          <continueOnError>false</continueOnError>
          <failOnError>false</failOnError>
          <alwaysPublishFromMaster>false</alwaysPublishFromMaster>
          <hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
        </delegate>
      </delegate>
    </jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
    <hudson.tasks.BatchFile>
      <command>&quot;C:\Program Files (x86)\Windows Kits\8.1\Debuggers\x64\symstore.exe&quot; add /f Rocket60\*.pdb /r /s \\NAS\Symbols\60 /t &quot;Topkapi x64&quot; /compress /v &quot;Build %SVN_REVISION%&quot; /c &quot;automated jenkins build&quot;</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>Rocket60/**/*.msi</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>true</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <htmlpublisher.HtmlPublisher plugin="htmlpublisher@1.11">
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>Couverture et métriques de code</reportName>
          <reportDir>Rocket60\PERLSCRIPT\CodeCoverageReport</reportDir>
          <reportFiles>index.htm</reportFiles>
          <alwaysLinkToLastBuild>false</alwaysLinkToLastBuild>
          <keepAll>true</keepAll>
          <allowMissing>true</allowMissing>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
    <xunit plugin="xunit@1.101">
      <types>
        <NUnitJunitHudsonTestType>
          <pattern>**/test_output*.xml</pattern>
          <skipNoTestFiles>true</skipNoTestFiles>
          <failIfNotNew>true</failIfNotNew>
          <deleteOutputFiles>false</deleteOutputFiles>
          <stopProcessingIfError>false</stopProcessingIfError>
        </NUnitJunitHudsonTestType>
      </types>
      <thresholds>
        <org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
          <unstableThreshold>5</unstableThreshold>
          <unstableNewThreshold></unstableNewThreshold>
          <failureThreshold>20</failureThreshold>
          <failureNewThreshold></failureNewThreshold>
        </org.jenkinsci.plugins.xunit.threshold.FailedThreshold>
        <org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
          <unstableThreshold></unstableThreshold>
          <unstableNewThreshold></unstableNewThreshold>
          <failureThreshold></failureThreshold>
          <failureNewThreshold></failureNewThreshold>
        </org.jenkinsci.plugins.xunit.threshold.SkippedThreshold>
      </thresholds>
      <thresholdMode>1</thresholdMode>
      <extraConfiguration>
        <testTimeMargin>3000</testTimeMargin>
      </extraConfiguration>
    </xunit>
    <hudson.tasks.Mailer plugin="mailer@1.17">
      <recipients></recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>